*.pyc
*.pyo
__pycache__/

venv/
.venv/
ENV/
.env/

.env
.env.local
.env.*.local
.env.test
.env.production

.idea/
.vscode/

*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

*.bak
*.swp
app..DS_Store
.DS_Store
build.sh
playground.py
